.App {
  text-align: center;
  color: white;
  text-shadow: #01151E 0px 0px 3px,  #01151E 0px 0px 3px, #01151E 0px 0px 3px, #01151E 0px 0px 3px, #01151E 0px 0px 3px, #01151E 0px 0px 3px;
}

.App-link {
  color: #61dafb;
}
